<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#58DCCF&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;FILM-SORU&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#DC2764&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;40sp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>


    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>


    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Zor&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;246dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;109dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;215dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#D40019&quot;</span><span class="s0">&gt;</span>


        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;ZOR&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#E89720&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Kolay&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;245dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;39dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;406dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#08FB12&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;KOLAY&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#E89720&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/Orta&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;224dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;187dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#E8D10A&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;59dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;ORTA&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#E89720&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/music&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;232dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#00BCD4&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnMusic&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;118dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;46dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;59dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;MUSİC&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#E89720&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
        <span class="s1">android:layout_above</span><span class="s2">=&quot;@+id/kullaniciadi&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffffff&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;HOŞGELDİN&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/kullaniciadi&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;59dp&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffffff&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Gülay-ADIGÜZEL&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/kadi_duzenle&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_alignBottom</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_toEndOf</span><span class="s2">=&quot;@+id/kullaniciadi&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_action_kullaniciadi&quot;</span><span class="s0">/&gt;</span>


<span class="s0">&lt;/RelativeLayout&gt;</span>
</pre>
</body>
</html>